.gamecontainer {
    height: 100%;
    width: 100%;
    margin: 1em;
    display:flex;
    font-size:40px;
    font-family: "Consolas",Geneva, sans-serif;
    font-weight: bold;
    color:black;
}

.game {
    padding: 0.05em;
    margin:auto;
    width: auto;
}

.clear {
    clear:both;
}

.grid {
    display: inline-block;
    background-color:#eeeeee;
    padding: 0.05em;
    margin: 1em;
}

.cell {
    display: inline-block;
    float:left;
    background-color: white;
    width: 1.2em;
    height: 1.2em;
    margin:0.1em;
    text-align: center;
}
.number {
    display:inline-block; /* switch to none if candidates should show*/
    width: 100%;
    hight: 100%;
}

.normal {
    background-color:#E0E0FF;
}
.given {
    background-color:#C8C8FF;
}
.highlighted {
    background-color:#C0FFC0;
}

.candidatecell {
    display: inline-block; /* switch to inline-block if candidates should show*/
    float:left;
    font-size: 27.5%;
    border-style: outset;
    border-width: 0.125em;
    width: 1.2em;
    height: 1.2em;
}