@(controller: de.htwg.se.rummi.controller.Controller)

@fieldRows = @{8}
@fieldCols = @{13}

@rackRows = @{4}
@rackCols = @{13}

@letter = @{'A' to 'M'}

    <nav class="navbar navbar-dark bg-dark">
        <h1 class="navbar-brand header1">Rummikub<small class="text-muted"> by Patrick & Carolin</small></h1>
        <ul class="nav" nav-pills>
            <li class="nav-item">
                <button id="gameBtn" class="btn btn-secondary mr-2">Game</button>
            </li>
            <li class="nav-item">
                <button id="rulesBtn" class="btn btn-secondary">Rules</button>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="row">
                    <span class="alert alert-primary">Player @{controller.activePlayer.name} ist playing right now.</span>
                </div>

                <div class="row">
                    <div class="btn-group">
                        <button id="sortBtn" class="btn btn-primary">> Sort</button>
                        <button id="drawBtn" class="btn btn-primary">> Draw</button>
                        <button id="finishBtn" class="btn btn-primary">> Finish</button>
                    </div>
                </div>

                <div class="row">
                    <span id="selected_tile_label" class="invisible alert alert-primary mt-4"></span>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="game">
                    <div class="grid">
                        <div class="row">
                            <span class="btn cell">_</span>
                            @for(l <- letter) {
                                <span class="btn cell">@{l}</span>
                            }
                        </div>
                        @for(row <- 1 to fieldRows) {
                            <div class="row">
                                <span class="btn cell">@{row}</span>
                                @for(col <- 1 to fieldCols) {
                                  <div class="btn btn-outline-primary cell rummi_tile" id="@{row}*@{col}"></div>
                                }
                            </div>
                        }
                    </div><br/>

                    <div class="grid mt-4">
                        @for(row <- 1 to rackRows) {
                            <div class="row">
                                <div class="btn cell">@{row+8}</div>
                                @for(col <- 1 to rackCols) {
                                        <div class="btn btn-outline-primary cell rummi_tile"  id="@{row+8}*@{col}"></div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>