@(controller: de.htwg.se.rummi.controller.Controller)

@fieldRows = @{
    8
}
@fieldCols = @{
    13
}

@rackRows = @{
    4
}
@rackCols = @{
    13
}

@main("Rummikub") {


    <h1>Rummikub</h1>
    <p>
        by Kira Koch
        &
        Julian Riegraf
    </p>
    <table border="1|0">
    @for(row <- 1 until fieldRows) {
        <tr>
            @for(col <- 1 until fieldCols) {
            <td class="@{row.toString + "_" + col.toString}">
        @{if(controller.field.getTileAt(row, col).isDefined) {
            controller.field.getTileAt(row, col).get.number
        }else "_"}</td>
        }
        </tr>
    }
    </table>

    <hr>

    <table border="1|0">
    @for(row <- 1 until rackRows) {
        <tr>
        @for(col <- 1 until rackCols) {
            <td class="@{row.toString + "_" + col.toString}">
                @{
                if(controller.rackOfActivePlayer.getTileAt(row, col).isDefined) {
                    controller.rackOfActivePlayer.getTileAt(row, col).get.number
                }
            }</td>
        }
        </tr>
    }
    </table>
}
